html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(135deg, #4A90E2, #6FB1FC);
  display: block; 
}

app-root {
  display: block;
  width: 100%;
  min-height: 100%;
}

app-projects-list {
  display: block;
  width: 100%;
}
